.signup-box  {
    height: 100vh;
    margin: auto;
    flex-direction: column;
    width: 30vw;
}
.radio-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.radio-btn {
    gap: 1rem;
}
.radio-btn .box{
    gap: 1rem;
}
.radio-box p {
    margin-block: .5rem;
}
input[type="radio"]{
    font-size: 2rem;
}

@media(max-width: 900px){
    .signup-box  {
        width: 80vw;
    }
}